<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
   <add name="DefaultConnection" connectionString="Provider=SQLOLEDB;Data Source=localhost,1433;Initial Catalog=Bank;Integrated Security=SSPI"
       providerName="OleDb"/>
  </connectionStrings>
</configuration>


<!-- <add name="DefaultConnection" connectionString="Provider=SQLOLEDB;Data Source=localhost;Initial Catalog=Bank;Integrated Security=SSPI;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultipleActiveResultSets=true;MultiSubnetFailover=False" -->